* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

main {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr;
  padding: 20px;
  gap: 20px;
  overflow: auto;
}

header {
  padding: 20px;
  background-color: #269a79;
  color: white;
  font-weight: bold;
}

.videoMapContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: 100%;
}

.videoContainer {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-height: calc(100vh - 370px);
}

.videoContainer video {
  height: 100%;
  object-fit: contain;
  max-width: 100%;
}

.mapa {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  background-color: #75c699;
  margin-top: auto;
}

.card {
  border-radius: 5px;
  padding: 0 20px 20px 20px;
  background-color: #75c699;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow-y: auto;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.nombresContainer {
  position: sticky;
  top: 0px;
  background-color: #75c699;
  padding: 10px 0;
}

.buttonsContainer {
  width: 100%;
}

button {
  padding: 5px 10px;
  border-radius: 25px;
  background-color: #75c699;
  border-color: #269a79;
}

button:hover {
  cursor: pointer;
  background-color: #75c69950;
}


@media (max-device-width: 900px) {
  body {
    height: auto;
  }

  main {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .videoContainer {
    max-height: none;
  }
}