* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  gap: 7px;
}

main {
  display: grid;
  grid-template-columns: 5fr 2fr 1fr;
  padding: 0px 20px;
  gap: 20px;
  overflow: auto;
}

header {
  padding: 20px;
  background-color: #269a79;
  color: white;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: center;
  padding: 3px 0;
  color: #666;
  font-size: 12px;
  border-top: 1px solid #44444444;
}


.videoMapContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: 100%;
}

.videoContainer {
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  max-height: calc(100vh - 370px);
}

.videoContainer video {
  height: 100%;
  object-fit: contain;
  max-width: 100%;
}

.mapa {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  background-color: #75c699;
  margin-top: auto;
}

.card {
  border-radius: 5px;
  padding: 0 20px 20px 20px;
  background-color: #75c699;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  overflow-y: auto;
}

#capitulos {
  padding: 20px;
  gap: 20px;
}

#fotoAnimal {
  object-fit: cover;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
}

.nombresContainer {
  position: sticky;
  top: 0px;
  background-color: #75c699;
  padding: 10px 0;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  gap: 5px;
}

button {
  padding: 5px 10px;
  border-radius: 25px;
  background-color: #75c699;
  border-color: #269a79;
}

.chaptersButton {
  border: none;
  text-decoration: underline;
  color: rgb(0, 0, 0);
  padding: 0;
}

button:hover {
  cursor: pointer;
  background-color: #75c69950;
}

input {
  border-radius: 30px;
  padding: 10px;
  border: 1px solid black;
}

#qualitySelector {
  margin-left: auto;
  border: none;
  font-weight: bold;
  border-bottom: 1px solid black;
  cursor: pointer;
}

#qualitySelector:hover {
  color: #444;
  border-bottom: 1px solid #444;
}

.popup {
  position: absolute;
  bottom: 40px;
  left: 30px;
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

#popupButton {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#popupButton:hover {
  background-color: #75c699be;
}

#popupDiv {
  display: none;
  width: 300px;
  height: 85vh;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 2px 7px #444;
  flex-direction: column;
  overflow-y: auto;
}

.mensajesContainer {
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mensajeEnviadoContainer {
  width: 80%;
  background-color: #75c699;
  padding: 10px;
  border-radius: 10px 0px 10px 10px;
  align-self: flex-end;
}

.mensajeRecibidoContainer {
  width: 80%;
  padding: 10px;
  border-radius: 0px 10px 10px 10px;
  border: 1px solid #aaaaaa55;
}

.escribirMensajesContainer {
  position: sticky;
  bottom: 0px;
  display: grid;
  grid-template-columns: 6fr 1fr;
  border-top: 1px solid #666666a7;
  padding: 10px;
  gap: 5px;
}

@media (max-width: 900px) {
  body {
    height: auto;
  }

  main {
    grid-template-columns: 2fr 1fr;
  }

  .videoContainer {
    max-height: none;
  }

  .videoMapContainer {
    grid-column: span 2;
  }
}